<!DOCTYPE html>
<html lang="en">
<head>
  <title>Render a random wiki image</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Open+Sans:wght@300&display=swap');
  </style>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
  <div>
    <% if (wiki) { %>
      <div id="wiki" :style="{fontSize: fontSize + '%', width: width + 'px', height:height + 'px'}" @vue:mounted="fitFont">
        <div class="content">
          <h2 class="title"><%- wiki.title %></h2>
          <div class="text"><%- wiki.text %></div>
        </div>
      </div>
    <% } %>
  </div>

  <% if(debugSize === 'true') { %>
  <div style="position: fixed; top: 0; right: 0">
    <div>
      <label>{{ fontSize }}</label>
      <input type="range" :value="fontSize" step="1" min="100" max="1000" @input="setFontSize" @change="fitFont" />
    </div>
    <div>
      <label>{{ width }}</label>
      <input type="range" :value="width" step="1" min="900" max="3000" @input="setWidth" @mouseup="fitFont"  />
    </div>
  </div>
  <% } %>
</div>

<script type="module">
  import { createApp, nextTick } from 'https://unpkg.com/petite-vue?module'
  createApp({
    fontSize: 400,
    width: parseInt(<%= width %>),
    height: parseInt(<%= height %>),

    setFontSize(e) {
      this.fontSize = e.target.value;
    },
    setWidth(e) {
      this.width = e.target.value;
    },
    async fitFont() {
      const content = document.querySelector('.content')
      const wiki = document.querySelector('#wiki')
      if( content.offsetHeight + 40 > wiki.offsetHeight) {
        this.fontSize = this.fontSize - 1;
        await nextTick();
        this.fitFont();
      }
    }
  }).mount()
</script>

</body>
</html>
