body {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}
#wiki {
    text-align: center;
    /*border: 1px solid;*/
    vertical-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 40px;
    max-width: 100%;
}

.title {
    font-size: calc(1.875em + 0.5 * ((100vw - 20em) / 60));;
    /*font-size: 1.2em;*/
    margin-bottom: 1em;
    -webkit-font-smoothing: none;
    font-smooth: never;
}
.text {
    font-size: calc(1.5em + 0.5 * ((100vw - 20em) / 60));;
    -webkit-font-smoothing: none;
    font-smooth: never;
}

.text {
    line-height: 1.2em;
}

@media screen and (min-width: 80em) {
    .text {
        line-height: 1.4em;
    }
}